@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* loader */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333333;
  transition: opacity 0.75, visibility 0.75s;
}

.loader img {
  width: 100px; 
  height: auto;
  animation: loading 0.75s ease infinite; 
}

@media(max-width: 767px){
  .loader img{
    width: 60px;
  }
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
/* end */

html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: #fff;
  /* background: linear-gradient(-135deg, #c850c0, #4158d0); */
}

::selection{
  background: #e04700;
  color: #fff;
}

.login-form{
  width: 380px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 5px 20px 0px #e04700;
}

.login-form .title{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #000;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background: linear-gradient(-135deg, #fff);
}

.login-form form{
  padding: 10px 30px 50px 30px;
}

.login-form form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

.login-form form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;

}
.login-form form .field input:focus,
form .field input:valid{
  border-color: #e04700;
}

.login-form form .field label{
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;

}
form .field input:focus ~ label,
form .field input:valid ~ label{
  top: 0%;
  font-size: 16px;
  color: #e04700;
  background: #fff;
  transform: translateY(-50%);
}
form .content{
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  align-items: center;
  justify-content: space-around;
}
form .content .checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
}
form .content input{
  width: 15px;
  height: 15px;
  background: red;
}
form .content label{
  color: #262626;
  user-select: none;
  padding-left: 5px;
}
form .content .pass-link{
  color: "";
}
form .field input[type="submit"]{
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(-135deg, #e04700,#e04700);
  transition: all 0.3s ease;
}
form .field input[type="submit"]:active{
  transform: scale(0.95);
}
form .signup-link{
  color: #262626;
  margin-top: 20px;
  text-align: center;
}
form .pass-link a,
form .signup-link a{
  color: #e04700;
  text-decoration: none;
}
form .pass-link a:hover,
form .signup-link a:hover{
  text-decoration: underline;
}